# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @grafana/platform-productivity will be requested for review when
# someone opens a pull request.
* @grafana/platform-productivity
* @grafana/growth-devex-eng

# Platform productivity
/.github/workflows/publish-techdocs.yaml @grafana/platform-productivity
