name: Build, lint and test `trigger-argo-workflow`

on:
  push:
    branches:
      - main
    paths:
      - "actions/trigger-argo-workflow/**"
  pull_request:
    paths:
      - "actions/trigger-argo-workflow/**"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize
  merge_group:

permissions:
  contents: read

jobs:
  lint-test-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: actions/trigger-argo-workflow
    permissions:
      contents: read

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          check-latest: true
          cache-dependency-path: |
            actions/trigger-argo-workflow/go.sum
          go-version-file: "actions/trigger-argo-workflow/go.mod"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          working-directory: actions/trigger-argo-workflow

      - name: Run tests
        run: go test -v ./...

      - name: Build
        run: go build -o trigger-argo-workflow ./...
