name: Build, lint and test `trigger-argo-workflow`

on:
  push:
    branches:
      - main
    paths:
      - "actions/trigger-argo-workflow/**"
  pull_request:
    paths:
      - "actions/trigger-argo-workflow/**"

jobs:
  lint-test-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: actions/trigger-argo-workflow

    steps:
      - name: Checkout code
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491  # v5.0.0
        with:
          check-latest: true
          cache-dependency-path: |
            actions/trigger-argo-workflow/go.sum
          go-version-file: "actions/trigger-argo-workflow/go.mod"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@3cfe3a4abbb849e10058ce4af15d205b6da42804 # v4.0.0
        with:
          version: latest
          working-directory: actions/trigger-argo-workflow

      - name: Run tests
        run: go test -v ./...

      - name: Build
        run: go build -o trigger-argo-workflow ./...
