name: Build, lint and test `trigger-argo-workflow`

on:
  push:
    branches:
      - main
    paths:
      - "actions/trigger-argo-workflow/**"
  pull_request:
    paths:
      - "actions/trigger-argo-workflow/**"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize
  merge_group:

jobs:
  lint-test-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: actions/trigger-argo-workflow

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          check-latest: true
          cache-dependency-path: |
            actions/trigger-argo-workflow/go.sum
          go-version-file: "actions/trigger-argo-workflow/go.mod"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          version: latest
          working-directory: actions/trigger-argo-workflow

      - name: Run tests
        run: go test -v ./...

      - name: Build
        run: go build -o trigger-argo-workflow ./...
