name: Drone CI Signature Check

on:
  workflow_call:
    inputs:
      drone_config_path:
        description: "Path to the Drone CI configuration file"
        type: string
        default: ".drone.yml"
      drone_server:
        description: "Drone CI server URL"
        type: string
        default: "https://drone.grafana.net"

permissions:
  contents: read

jobs:
  # This job checks if we should run the drone signature check.
  # If the repository is under the "grafana" org, we will run the signature check.
  # If the repository is a fork, we will skip the signature check, as secrets
  # needed for the validation are not available in forked repos.
  check-fork:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    outputs:
      isFork: ${{ steps.check-if-fork.outputs.isFork }}
    steps:
      - name: Check if forked repository
        id: check-if-fork
        run: |
          REPO_FULLNAME="${{ github.repository }}"
          REPO_OWNER="${REPO_FULLNAME%/*}"

          if [ "$REPO_OWNER" = "${{ github.repository_owner }}" ]; then
            echo "isFork=false" >> "$GITHUB_OUTPUT"
          else
            echo "isFork=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Post PR message about fork
        if: steps.check-if-fork.outputs.isFork == true && github.event_name == 'pull_request'
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Skipping Drone CI config signature check, as this is a forked repository. A user with the proper repo permissions will need to sign the Drone CI configuration file.'
            })

  check-drone-signature:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    needs: check-fork
    if: needs.check-fork.outputs.isFork == 'false'
    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Drone CLI
        run: |
          VERSION=v1.8.0
          curl -L https://github.com/harness/drone-cli/releases/download/$VERSION/drone_linux_amd64.tar.gz | tar zx
          sudo install -t /usr/local/bin drone

      - name: Retrieve drone-signature-checker token
        uses: grafana/shared-workflows/actions/get-vault-secrets@75804962c1ba608148988c1e2dc35fbb0ee21746 # main
        with:
          common_secrets: |
            DRONE_TOKEN=drone-sign-check-machine-user:token

      - name: Check Drone signature
        run: |
          # Run drone sign command
          drone sign --save ${{ github.repository }} ${{ inputs.drone_config_path }}

          # Check if there are any changes to the Drone config file
          if git diff --quiet ${{ inputs.drone_config_path }}; then
            echo "Drone CI configuration signature is valid."
          else
            echo "Drone CI configuration signature was updated."
            echo "Please sign the updated .drone.yml file and commit."
            exit 1
          fi
        env:
          DRONE_SERVER: ${{ inputs.drone_server }}
          DRONE_TOKEN: ${{ env.DRONE_TOKEN }}
