name: Lint PR title

on:
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

permissions:
  contents: read

jobs:
  lint-pr-title:
    permissions:
      contents: read
      pull-requests: read

    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - id: lint-pr-title
        name: Lint PR title
        uses: ./actions/lint-pr-title

      # This is an integration test ensuring that we don't regress absolute path
      # support
      - name: Copy lint-pr-title config to temp dir
        run: |
          cp actions/lint-pr-title/commitlint.config.js "${{ runner.temp }}/commitlint.config.js"

      - id: lint-pr-title-separate-config
        name: Lint PR title with separate config
        uses: ./actions/lint-pr-title
        with:
          config-path: "${{ runner.temp }}/commitlint.config.js"
