name: Publish Backstage TechDocs

on:
  workflow_call:
    inputs:
      namespace:
        required: true
        type: string
      kind:
        required: true
        type: string
      name:
        required: true
        type: string
      default-working-directory:
        description: "The working directory to use for doc generation. Useful for cases without an mkdocs.yml file at the project root."
        required: false
        type: string
        default: "."

jobs:
  generate-and-publish-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - id: auth
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@55bd3a7c6e2ae7cf1877fd1ccb9d54c0503c457c # v2.1.2
        with:
          create_credentials_file: true
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_POOL_PROVIDER }}
          service_account: ${{ secrets.BACKSTAGE_TECHDOCS_SA_EMAIL }}

      - name: Install techdocs-cli
        run: sudo npm install -g @techdocs/cli

      - name: setup python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        with:
          python-version: 3.11

      - name: Install mkdocs and mkdocs plugins
        run: python -m pip install mkdocs-techdocs-core==1.*

      - name: Generate docs site
        run: techdocs-cli generate --no-docker --verbose
        working-directory: ${{ inputs.default-working-directory }}

      - name: Publish docs site
        run: techdocs-cli publish --publisher-type googleGcs --storage-name ${{ secrets.BACKSTAGE_TECHDOCS_BUCKET_NAME }} --entity ${{ inputs.namespace }}/${{ inputs.kind }}/${{ inputs.name }}
        working-directory: ${{ inputs.default-working-directory }}
