name: Lint & test "Lint PR title" action
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test-lint-pr-title.yml
      - actions/lint-pr-title/**

  pull_request:
    paths:
      - .github/workflows/test-lint-pr-title.yml
      - actions/lint-pr-title/**
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

permissions:
  contents: read

jobs:
  build-lint-pr-title:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install bun package manager
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version-file: .bun-version

      - name: Install lint-pr-title dependencies
        run: bun install --frozen-lockfile --linker hoisted --filter lint-pr-title

      - name: Lint
        run: bun run eslint actions/lint-pr-title

      - name: Test
        run: bun run --filter lint-pr-title test
