name: Test techdocs-rewrite-relative-links action

on:
  push:
    branches:
      - main
    paths:
      - "actions/techdocs-rewrite-relative-links/**"
      - ".github/workflows/test-techdocs-rewrite-relative-links.yaml"

  pull_request:
    paths:
      - "actions/techdocs-rewrite-relative-links/**"
      - ".github/workflows/test-techdocs-rewrite-relative-links.yaml"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write # needed for cache

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          check-latest: true
          go-version: "1.25.2"
          cache-dependency-path: "actions/techdocs-rewrite-relative-links/go.sum"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          working-directory: actions/techdocs-rewrite-relative-links

      - name: Test Go code
        shell: bash
        run: |
          set -e
          cd actions/techdocs-rewrite-relative-links
          go test ./... -v
