name: Test get-vault-secrets action

on:
  push:
    branches:
      - main
    paths:
      - "actions/get-vault-secrets/**"
      - ".github/workflows/test-get-vault-secrets.yaml"

  pull_request:
    paths:
      - "actions/get-vault-secrets/**"
      - ".github/workflows/test-get-vault-secrets.yaml"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        instance:
          - dev
          - ops
          - invalid

    permissions:
      contents: read
      id-token: write

    runs-on: ubuntu-latest

    # The `get-vault-secrets` action only works when run from a `grafana`
    # repository, so skip this test if the PR is from a different repository. We
    # will still get a run of this workflow for the change before merging, as we
    # use merge queues.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login == 'grafana'

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Test Vault Action
        id: test-vault-action
        uses: ./actions/get-vault-secrets
        continue-on-error: true
        with:
          vault_instance: ${{ matrix.instance }}
          repo_secrets: |
            INSTANCE=test-get-vault-secret:instance

      - name: Check secret value is ${{ matrix.instance }}
        if: matrix.instance != 'invalid'
        run: |
          if [[ "${INSTANCE}" != "${{ matrix.instance }}" ]]; then
            echo "Test failed: secret value does not match vault_instance input"
            exit 1
          fi
        env:
          INSTANCE: ${{ env.INSTANCE }}

      - name: Ensure 'invalid' errored
        if: matrix.instance == 'invalid' && steps.test-vault-action.outcome != 'failure'
        run: |
          echo "Test failed: 'invalid' should have errored"
          exit 1

  bats-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup BATS testing framework
        uses: mig4/setup-bats@af9a00deb21b5d795cabfeaa8d9060410377686d # v1.2.0

      - name: Run tests
        run: |
          cd actions/get-vault-secrets
          ./translate-secrets.bats
