name: Test techdocs-rewrite-relative-links action

on:
  push:
    branches:
      - main
    paths:
      - "actions/techdocs-rewrite-relative-links/**"
      - ".github/workflows/test-techdocs-rewrite-relative-links.yaml"

  pull_request:
    paths:
      - "actions/techdocs-rewrite-relative-links/**"
      - ".github/workflows/test-techdocs-rewrite-relative-links.yaml"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write # needed for cache

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          check-latest: true
          go-version: "1.25.2"
          cache-dependency-path: "actions/techdocs-rewrite-relative-links/go.sum"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          working-directory: actions/techdocs-rewrite-relative-links

      - name: Test Go code
        shell: bash
        run: |
          set -e
          cd actions/techdocs-rewrite-relative-links
          go test ./... -v
