name: Test login-to-gar action

on:
  push:
    branches:
      - main
    paths:
      - "actions/login-to-gar/**"
      - ".github/workflows/test-login-to-gar.yaml"

  pull_request:
    paths:
      - "actions/login-to-gar/**"
      - ".github/workflows/test-login-to-gar.yaml"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

permissions: {}

jobs:
  test:
    permissions:
      contents: read
      id-token: write

    runs-on: ubuntu-latest

    # Don't run for forks - they don't have access to secrets
    if: github.event.pull_request.head.repo.full_name == github.repository

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Test Login to GAR Action
        id: test-login-to-gar
        uses: ./actions/login-to-gar
        with:
          registry: "us-docker.pkg.dev"
