name: Test techdocs-rewrite-relative-links action

on:
  push:
    branches:
      - main
    paths:
      - "actions/techdocs-rewrite-relative-links/**"
      - ".github/workflows/test-techdocs-rewrite-relative-links.yaml"

  pull_request:
    paths:
      - "actions/techdocs-rewrite-relative-links/**"
      - ".github/workflows/test-techdocs-rewrite-relative-links.yaml"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Setup go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          check-latest: true
          go-version: "1.22.2"
          cache-dependency-path: "actions/techdocs-rewrite-relative-links/go.sum"

      - name: Test Go code
        shell: bash
        run: |
          set -e
          cd actions/techdocs-rewrite-relative-links
          go test ./... -v
