name: Test remove-checkout-credentials action

on:
  push:
    branches:
      - main
    paths:
      - "actions/remove-checkout-credentials/**"
      - ".github/workflows/test-remove-checkout-credentials.yaml"

  pull_request:
    paths:
      - "actions/remove-checkout-credentials/**"
      - ".github/workflows/test-remove-checkout-credentials.yaml"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true

      - name: Run cleanup
        uses: ./actions/remove-checkout-credentials

      - name: Check if secrets are present
        run: |
          set +e
          if git config get --local --name-only http.https://github.com/.extraheader 2> /dev/null
          then
            echo "HTTP config is still present!"
            exit 1
          fi
