name: Test techdocs-rewrite-relative-links action

on:
  push:
    branches:
      - main
    paths:
      - "actions/techdocs-rewrite-relative-links/**"
      - ".github/workflows/test-techdocs-rewrite-relative-links.yaml"

  pull_request:
    paths:
      - "actions/techdocs-rewrite-relative-links/**"
      - ".github/workflows/test-techdocs-rewrite-relative-links.yaml"
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize

  merge_group:

permissions:
  contents: read

jobs:
  test:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          check-latest: true
          go-version: "1.24.2"
          cache-dependency-path: "actions/techdocs-rewrite-relative-links/go.sum"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # v7.0.0
        with:
          version: latest
          working-directory: actions/techdocs-rewrite-relative-links

      - name: Test Go code
        shell: bash
        run: |
          set -e
          cd actions/techdocs-rewrite-relative-links
          go test ./... -v
